* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border: 1px dotted #FF0008;
}
body {
    background: url('../imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(35, 123, 224);
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header li:hover{
    transform: scale(1.2);
}

header ul li{
    float: left;
	margin:12px 25px;
}
header li{
    list-style: none;
}
header a{
    font: 20px arial;
    font-weight: bold;
    color:rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;
}

.persona img{
    border-radius: 30px;
}
.logo img{
    border-radius:40%;
}

footer{ /*Barra azul*/
    text-align: center;
    background-color:rgb(35, 123, 224);
    color: white;
    padding: 8px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a{
    font: arial;
    font-weight: bold;
    padding: 15px 5px;
    opacity: 50%;
}
footer a{
    text-decoration: none;
}
footer a:visited{
    color: black;
}

footer img{
    background-color: transparent;
    animation: maps 1s infinite;
}


@keyframes maps {
    0%{
        transform:translateY(0px) ;
    }
    50%{
        transform:translateY(10px) ;
    }
    100%{
        transform:translateY(0px) ;
    }
}

h1{
    text-align: center;
    font: 40px arial;
    color:  rgb(192, 192, 192);
    padding: 30px;
}
#contenido-gimnasio{
    padding: 100px;
    justify-content: center;
}
.contenedor-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 40px;
    
}

#box1{
    grid-row: 1/2;
    grid-column:1/2 ;
    background-color: rgb(35, 123, 224);
    display:grid;
    width: 400px;
    height: 350px;
}
#box1 img{
    size: 100%;
}
#box2{
    grid-row: 1/2;
    grid-column:2/3 ;
    background-color: rgb(35, 123, 224);
    display:grid;
    width: 400px;
    height: 350px;
}
#box3{
    grid-row: 1/2;
    grid-column:3/4 ;
    background-color: rgb(35, 123, 224);
    display:grid;
    width: 400px;
    height: 350px;
}
#box1 p{
    padding: 10px;
    font: 16px arial;
    text-align: center;
}
#box2 p{
    padding: 10px;
    font: 16px arial;
    text-align: center;
}
#box1:hover, #box2:hover, #box3:hover{
    transform:scale(1.15);
}
#box1, #box2, #box3{
    transition: transform 0.3s;
}



